@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes orbAnimation {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(calc(100vw / 1.2), calc(100vh / 2));
  }
  100% {
    transform: translate(0, 0);
  }
}